.SignIn .ContainerSignIn {
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-row-gap: 10px;
    justify-content: center;
}

.SignIn .submitButton {
    margin: 2%;
    width: 25%;
}

.SignIn .googleSignIn {
    margin: 2%;
    width: 25%;
}

.SignIn .line {
    border-top: 1px solid rgb(189, 189, 189);
    margin: 2% 10%;
}

.SignIn .condition {
    text-align: center;
}