.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header {
    justify-content: space-between;
    padding: 1%;
    background-color: black;
}

.Header .item {
    flex-grow: 1;
}

.Header .title {
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.Header .title img {
    padding: 2px;
    padding-right: 10px;
}