* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  /* Assign grid instructions to our parent grid container, mobile-first (hide the SideBar) */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'Header'
    'MainContent'
    'Footer';
   
}

/* Give every child element its grid name */
.Header {
  grid-area: Header;
}

#SideBar {
  grid-area: SideBar;
}

.ForumIndex, .Thread, .SignIn, .SubmitThread, #NotFound{
  grid-area: MainContent;
}

.Footer {
  grid-area: Footer;
}



/* Non-mobile styles, 750px breakpoint // eg. DESKTOP */
@media only screen and (min-width: 750px) {
  /* Show the SideBar */
  .App {
    grid-template-columns: 140px 1fr;
    grid-template-areas:
      "SideBar Header"
      "SideBar MainContent"
      "SideBar Footer";
  }

  #SideBar {
    position: fixed;
    transform: translateX(0);
  }

  #SideBarIcon {
    display: none;
  }
}