.Thread {
  margin: 5px;
}

.Thread #title {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 28px;
  font-weight: 600;
}

.Thread #title #prefix {
  color: rgba(0, 0, 0, 0.65);
  display: inline;
}

.Thread .UserDetails {
  grid-area: UserDetails;
  font-size: 15px;
  text-align: left;
  background-color: #eee;
}

.Thread .UserDetails .header {
  display: grid;
  padding: 3px;
  grid-template-columns: 90% 10%;
}

.Thread .UserDetails .commentDate {
  opacity: 0.65;
}

.Thread .UserDetails .user.identifier {
  background: blue;
  border: 1px solid rgba(0, 0, 133, 0.75);
}

.Thread .UserDetails .guest.identifier {
  background: rgb(0, 133, 0);
  border: 1px solid rgba(0, 0, 133, 0.75);
}

.Thread .UserDetails .admin.identifier {
  background: rgb(255, 0, 0);
  border: 1px solid rgba(133, 0, 0, 0.75);
}

.Thread .UserDetails .identifier {
  font-size: 12px;
  padding: 1px;
  color: white;
}

.Thread .UserDetails .username {
  font-size: 16px;
  font-weight: 600;
}

.Thread .UserDetails .identifier, .Thread .UserDetails .username {
  display: inline;
}

.Thread .UserDetails .postNumber {
  text-align: right;
}

.Thread .Content {
  grid-area: Content;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.Thread .Post {
  display: grid;
  grid-gap: 3px;
  padding: 0px;
  width: 100%;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 'avatar UserDetails' 'avatar Content';
  border: solid 1px lightslategray;
  margin-bottom: 16px;
}

.Thread .avatar {
  grid-area: avatar;
  height: 100px;
  width: 100px;
}

.Thread .SubmitPost {
  display: flex;
  flex-direction: column;
}

.Thread .submitButton {
  background-color: black;
  color: white;
  width: 60px;
  height: 40px;
}

.Thread .submitNewPost {
  height: 100px;
  border: 3px solid;
}