.Post {
    grid-gap: 5px;
    
    padding: 5px;
    display: grid;
    width: 100%;
    grid-template-columns: 90px 1fr;
  }

.Thread .UserDetails {
    background-color: ;
    font-size: 16px;
 }

.Thread .Content {
    background-color: gray;
 }
