#UserProfile {
    display: grid;
    background: #f7f9fc;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 300px 100px 100px;
    grid-template-areas: 'avatar about'
                        'username about'
                        'extra about'
}

#UserProfile .avatar {
    margin: 25px;
    grid-area: avatar;
    border: 2px solid rgb(116, 114, 148);
}

#UserProfile .username {
    padding: 0px;
    grid-area: username;
    font-size: 50px;
    /* text-align: center;
    /* justify-self: center; 
    align-self: center;
    border: solid red; */
    align-self: start;
}

#UserProfile .extra {
    grid-area: extra;
}
#UserProfile .about {
    grid-area: about;
    margin: 25px;
    background: white;
    border: 2px solid rgb(116, 114, 148);
}