#SideBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 140px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: lightblue;
    /* Needs to sit above the hamburger menu icon */
}

#SideBar.active {
    transform: translateX(0);
}

#SideBar .list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

#SideBar .list .NavigationBarLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px 20px 40px;
    color: black;
    text-decoration: none;
}

#SideBar .list .NavigationBarLink .icon {
    padding-right: 5px;
}

#SideBar .list .NavigationBarLink:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}